{% extends 'base.html' %}
{% load static %}

{% block title %} Change Pin {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'banking/css/index.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">

    {% if error_message %}

    <div class="d-flex lead text-success px-4 py-4 my-4 bg-light justify-content-around">

        <p>{{ error_message }}</p>

    </div>

    {% else %}
    <form class="form col-8 mt-5 p-4 mx-auto shadow" method="post">
        {% csrf_token %}
        <h1 class="h3 my-4 font-weight-normal text-center">Change Pin</h1>

        <div class="form-group">
            <label for="inputPin">Current Pin</label>
            <input type="number" name="current_pin" id="currentPin" class="form-control rounded-0"
                placeholder="Enter Current Pin" value="{{current_pin}}" required>
            {% if pin_error_message %}
            <div class="text-danger small">
                <span>{{pin_error_message }}</span>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="inputPin">New Pin</label>
            <input type="number" name="new_pin" id="newPin" class="form-control rounded-0" placeholder="Enter New PIN "
                value="{{new_pin}}" required>
            {% if pin2_error_message %}
            <div class="text-danger small">
                <span>{{pin2_error_message }}</span>
            </div>
            {% endif %}
            <div class="text-primary small">
                <span>Please enter your new. Pin Must be in 5 digits and not last used Pin.</span>
            </div>
        </div>


        <button class="btn btn-primary btn-block rounded-0" type="submit">
            Change Pin</button>

    </form>

    {% endif %}
</div>
{% endblock content %}