{% extends 'base.html' %}
{% load static %}

{% block title %} Transfer {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'banking/css/index.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="card col-12 col-lg-6 mx-auto border-0 my-5 py-5 shadow">

        <form class="deposite-form w-75 mx-auto" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-4 font-weight-normal text-center">Cash By Code Transfer</h1>

            <div class="form-group">
                <div class="input-label">
                    Amount
                </div>
                <input type="number" name="amount" id="inputAmount" class="form-control rounded-0"
                    placeholder="Amount to Transfer" value="{{amount}}" required>
                {% if amount_error_message %}
                <div class="text-danger">
                    <p>{{amount_error_message}}</p>
                </div>
                {% endif %}
            </div>

            <button class="btn btn-sm btn-primary btn-block rounded-0 my-4" type="submit">Make Transaction</button>

        </form>

    </div>





</div>
{% endblock content %}