{% extends 'base.html' %}
{% load static %}

{% block title %} Withdraw {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'banking/css/index.css' %}">
<link href="{% static 'banking/css/atm.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheet %}

{% block content %}
<div class="container">

    <div class="card col-12 col-lg-9 mx-auto border-0 my-3 shadow">

        <form class="form w-75 mx-auto pb-3" method="post">
            {% csrf_token %}

            <div class="atm-form-group">
                <input type="number" name="account_no" id="inputAccountNo" class="atm-form-control rounded-0"
                    placeholder="Enter Your Account Number" value="{{ account_no }}" required autofocus>

            </div>
            <div class="atm-form-group">
                <input type="number" name="pin" id="inputPin" class="atm-form-control rounded-0"
                    placeholder="Enter Current Pin" value="{{pin}}" required>

            </div>

            <div class="atm-form-group">
                <input type="number" name="amount" id="inputAmount" class="atm-form-control rounded-0"
                    placeholder="Enter Amount To Cash" value="{{amount}}" required>

            </div>
            {% if error_message %}
            <div class="my-2">
                <div class="title-text text-center text-danger px-4 py-4 my-4 bg-light">
                    {{ error_message }}
                </div>
            </div>
            {% endif %}

            <button class="atm-btn" type="submit">Withdraw Money</button>

        </form>

    </div>

</div>
{% endblock content %}