{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}

<link href="https://fonts.googleapis.com/css?family=Noto%20Sans%20Bengali" rel="stylesheet" type="text/css">
<link href="{% static 'core/css/home.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="Heading my-4 text-center">
        <h2 class="home-welcome">
            Welcome to Banking System
        </h2>
    </div>

    <div class="content">

        <div class="row mb-5">
            <div class="col-6 align-items-center" data-aos-delay="50" data-aos-duration="500" data-aos="fade-up">
                <div class="card h-100 large-btn-shadow-3 border-0">
                    <a class="home-tab text-center text-primary" href="{% url 'banking:transfer' %}">
                        <div class="card-body d-flex justify-content-center">
                            Fund Transfer
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6" data-aos-delay="50" data-aos-duration="500" data-aos="fade-up">
                <div class="card large-btn-shadow-3 border-0">
                    <a class="home-tab text-center text-primary" href="{% url 'banking:make_cash_by_code' %}">
                        <div class="card-body d-flex justify-content-center">
                            Cash by Code
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-6" data-aos-delay="200" data-aos-duration="500" data-aos="fade-up">
                <div class="card large-btn-shadow-3 border-0">
                    <a class="home-tab text-center text-primary" href="{% url 'atm:atm' %}">
                        <div class="card-body d-flex justify-content-center">
                            Withdraw Money
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6" data-aos-delay="200" data-aos-duration="500" data-aos="fade-up">
                <div class="card large-btn-shadow-3 border-0">
                    <a class="home-tab text-center text-primary" href="{% url 'banking:deposite' %}">
                        <div class="card-body d-flex justify-content-center">
                            Deposite Money
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock %}