{% extends 'base.html' %}
{% load static %}
{% block title %} Register Account {% endblock title %}


{% block content %}
<div class="container">
  <div class="register-content card col-12 col-lg-10 mx-auto border-0 my-5 py-5 shadow">
    <form class="form-register w-75 mx-auto" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-4 font-weight-normal text-center">Register Account</h1>
      {% for field in registration_form %}
      {% if not forloop.counter|divisibleby:2 %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <p class="text-danger">{{ field.errors }}</p>
            <div class="input-label">
              <!-- <i class="fa fa-{{ field.icon }}"></i> -->
              {{ field.label_tag }}
            </div>
            {{ field }}
          </div>
        </div>
        {%if forloop.last %}
      </div>
      {% endif %}

      {% else %}
      <div class="col-md-6">
        <div class="form-group">
          <p class="text-danger">{{ field.errors }}</p>
          <div class="input-label">
            <!-- <i class="fa fa-{{ field.icon }}"></i> -->
            {{ field.label_tag }}
          </div>
          {{ field }}
        </div>
      </div>
  </div>
  {% endif %}

  {% endfor %}

  {% if registration_form.non_field_errors %}
  <div class="text-danger">
    <p>{{registration_form.non_field_errors}}</p>
  </div>

  {% endif %}

  <button class="btn btn-sm btn-primary btn-block rounded-0 my-3" type="submit">Register</button>
  </form>

  <div class="d-flex flex-column">
    <p class="text-center">Already have an account? <a href="{% url 'core:login' %}">Log In</a> </p>
  </div>

</div>
</div>


{% endblock content %}