{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Banking System
        {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static 'core/images/favicon.png' %}">


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    <!-- library -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>


    {% block stylesheet %}

    {% endblock %}


    <script src="{% static 'core/js/index.js' %}"></script>

</head>

<body>
    <!-- Header -->

    <header>
        {% include 'snippets/header.html' %}
    </header>
    <!-- End Header -->

    <!-- Body -->
    <div class="main">

        {% if messages %}
        <ul class="messages text-center bg-light pl-0">
            {% for message in messages %}
            <li{% if message.tags %} class="text-{{ message.tags }} py-2 lead" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <footer>
        {% include 'snippets/footer.html' %}
    </footer>
    <!-- End Footer -->

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block script %}

    {% endblock %}


</body>

</html>