{% extends 'base.html' %}
{% load static %}

{% block title %} Cash By Code {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'banking/css/index.css' %}">
<link href="{% static 'banking/css/atm.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheet %}

{% block content %}
<div class="container">

    <div class="card col-12 col-lg-9 mx-auto border-0 my-3 shadow">

        <form class="form w-75 mx-auto pb-3" method="post">
            {% csrf_token %}

            <div class="atm-form-group">
                <input type="number" name="otp" id="cbcOtp" class="atm-form-control rounded-0"
                    placeholder="Enter OTP Carefully" value="" required autofocus>
            </div>

            <button class="atm-btn" type="submit">Get Cash With Code</button>
            <div class="d-table mx-auto">
                <a class="atm-btn mx-auto text-white" href="{% url 'atm:cash_by_code' %}">Cancel</a>
            </div>

        </form>

    </div>

</div>
{% endblock content %}